@model Assignment3.Models.Teacher

@{
    ViewBag.Title = "Update";
}

<h1>Update Teacher</h1>

<h2>This is the Information for this Teacher.</h2>



<form method="POST" action="/Teacher/Update/@Model.TeacherId">
    <div>
        <label style=" margin-top:13px; ">Teacher First name:</label>
        <input style="max-width:200px; width:100%;" name="TeacherFname" type="text" value="@Model.TeacherFname" />
    </div>
    <div>
        <label style=" margin-top:13px; ">Teacher Last name:</label>
        <input style="max-width:200px; width:100%;" name="TeacherLname" type="text" value="@Model.TeacherLname" />
    </div>
    <div>
        <label style=" margin-top:13px; ">Employee Number: </label>
        <input style=" max-width:200px; width:100%;" name="EmployeeNumber" type="text" value="@Model.EmployeeNumber" />
    </div>
    <div>
        <label style=" margin-top:13px; ">Hire Date: </label>
        <input style="max-width:200px; width:100%;" name="HireDate" textmode="Date" type="datetime" required pattern="\d{4}/\d{2}/\d{2} \d{2}:\d{2}:\d{2} /(A|a|P|p)\(m|M)" value="@Model.HireDate" />
    </div>
    <div>
        <label style=" margin-top:13px; ">Salary: </label>
        <input style="max-width:200px; width:100%;" name="Salary" type="number" value="@Model.Salary" step="any" />
    </div>
    <div>
        <input style=" margin-top: 13px; margin-bottom: 13px;" type="submit" value="Update" />
    </div>
</form>
<a class="nav" href="/Teacher/List">Back to Teachers</a>

<style>
    .title {
        padding: 10px;
    }

    form {
        width: 500px;
    }

    label {
        width: 170px;
    }
</style>
